<section class="plans-container py-4 px-sm-3 px-md-4">

  <div class="plans-content-wrapper mx-auto">

    <!-- Header -->
    <div class="plans-header px-3 py-2 pt-md-4 pb-md-5 text-center">
      <h1 class="display-4">Find a plan that works for you.</h1>
      <nav class="plans-nav">
        <a class="plans-nav-link active mx-3 py-1">Personal</a>
        <a class="plans-nav-link mx-3">Business</a>
      </nav>
    </div>

    <!-- Content -->
    <div class="d-flex flex-column flex-sm-column flex-lg-row align-items-center">
      <n26-credit-card class="credit-card-item"
                       *ngFor="let card of creditCards$ | async" [card]="card"
      >
      </n26-credit-card>
    </div>
  </div>
</section>

<section class="plans-pricing py-4 px-5">
  <div class="container">
    <div class=" card-deck d-flex flex-column flex-lg-row flex-sm-column justify-content-center align-items-center">

      <!-- N26 -->
      <div class="card pricing-card p-4 mb-4">

        <!-- Header -->
        <div class="card-header p-0">
          <h1 class="card-title pricing-card-title">€0.00 <span class="text-muted">/ month</span></h1>
        </div>

        <!-- Body -->
        <div class="card-body p-0">
          <ul class="list-unstyled pricing-card-benefits">
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free ATM withdrawals in euros
            </li>
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free payments in any currency
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free withdrawals worldwide
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Allianz insurance package
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Selected discounts and offers from partner brands
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Extra Card
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Exclusive access to unique Metal Experiences
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Dedicated Customer Support
            </li>
          </ul>
        </div>
      </div>

      <!-- N26 You -->
      <div class="card pricing-card p-4 mb-4">

        <!-- Header -->
        <div class="card-header p-0">
          <h1 class="card-title pricing-card-title">€9.90 <span class="text-muted">/ month</span></h1>
        </div>

        <!-- Body -->
        <div class="card-body p-0">
          <ul class="list-unstyled pricing-card-benefits">
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free ATM withdrawals in euros
            </li>
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free payments in any currency
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free withdrawals worldwide
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Allianz insurance package
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Selected discounts and offers from partner brands
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Extra Card
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Exclusive access to unique Metal Experiences
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Dedicated Customer Support
            </li>
          </ul>
        </div>
      </div>

      <!-- N26 Metal -->
      <div class="card pricing-card p-4 mb-4">

        <!-- Header -->
        <div class="card-header p-0">
          <h1 class="card-title pricing-card-title">€16.90 <span class="text-muted">/ month</span></h1>
        </div>

        <!-- Body -->
        <div class="card-body p-0">
          <ul class="list-unstyled pricing-card-benefits">
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free ATM withdrawals in euros
            </li>
            <li class="pricing-card-benefits-item text-left mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free payments in any currency
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Free withdrawals worldwide
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Allianz insurance package
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Selected discounts and offers from partner brands
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Extra Card
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Exclusive access to unique Metal Experiences
            </li>
            <li class="pricing-card-benefits-item text-left text-muted mb-3">
              <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="benefits-item-icon text-muted">
                <path fill="currentcolor"
                      d="M5.462 10.553l7.633-7.634a1.198 1.198 0 1 1 1.694 1.694l-8.464 8.466a1.206 1.206 0 0 1-.894.353 1.183 1.183 0 0 1-.821-.344L1.207 9.685a1.199 1.199 0 0 1 1.694-1.694l2.561 2.561v.001z"></path>
              </svg>
              Dedicated Customer Support
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


