<div class="d-flex flex-column align-items-center p-4">

  <!-- Card title -->
  <h2 class="card-title mb-4 text-center">{{ card.name }}</h2>

  <!-- Card content -->
  <div class="swiper-container" [swiper]="swiperConfig">
    <div class="swiper-wrapper mb-4">

      <!-- Slides -->
      <figure class="swiper-slide card-image" *ngFor="let imgUrl of card.imageUrls">
        <img [src]="imgUrl" [alt]="card.name">
      </figure>

    </div>

    <div class="swiper-pagination text-center"></div>
  </div>
</div>
