<div class="card-container d-flex flex-column align-items-center p-4">

  <!-- Card title -->
  <h2 class="card-title mb-4 text-center">{{ card.name }}</h2>

  <!-- Card content -->
  <div class="swiper-container mb-4" [swiper]="swiperConfig">

    <div class="swiper-wrapper mb-4">

      <!-- Slides -->
      <img class="swiper-slide card-image" [src]="imgUrl" [alt]="card.name" *ngFor="let imgUrl of card.imageUrls">
    </div>

    <div class="swiper-pagination text-center"></div>
  </div>

  <a routerLink="/account" [queryParams]="{ title: card.name }" class="bank-account-btn">Open Bank Account</a>
</div>
