<div class="d-flex flex-column align-items-center p-4">

  <!-- Card title -->
  <h2 class="card-title mb-4">{{ card.name }}</h2>

  <!-- Card content -->
  <div class="card-content">
    <div class="card-image mb-4">
      <img [src]="card.imageUrls[0]" [alt]="card.name">
    </div>

    <!-- Swiper control buttons -->
    <div class="swiper-controls-container">
      <div class="swiper-controls d-flex justify-content-center" *ngIf="card.colors.length === 1">
        <span class="swiper-control" [ngClass]="'swiper-control-' + card.colors[0]"></span>
      </div>


      <div class="swiper-controls d-flex justify-content-center" *ngIf="card.colors.length > 1">
        <button type="button" class="swiper-control mx-1 p-0"
                *ngFor="let color of card.colors"
                [ngClass]="'swiper-control-' + color"
        >
        </button>
      </div>
    </div>
  </div>
</div>
