@import "variables";

.card-title {
  font-size: 1.389em;
  font-weight: 700;
}

.card-image {
  height: 8.333em;
  width: 13.333em;
  box-shadow: $box-shadow-credit-card;

  img {
    width: 100%;
    height: auto;
  }
}

